<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.movieplus.dynamicfeatures.movielist">

    <dist:module
        dist:instant="true"
        dist:title="@string/feature_movie_list">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application
        android:supportsRtl="true"
        tools:ignore="AllowBackup,MissingApplicationIcon" />

</manifest>

